{{#if items.length}}
  <table class="small-12">
    <thead>
      <tr>
        <th>
          <a href="#" {{action 'sortBy' 'date'}}>
            {{sort-indicator
              label="Date"
              value="date"
              sortDirection=sortDirection
              sortProperty=sortProperty
            }}
          </a>
        </th>
        <th>
          <a href="#" {{action 'sortBy' 'home.name'}}>
            {{sort-indicator
              label="Home"
              value="home.name"
              sortDirection=sortDirection
              sortProperty=sortProperty
            }}
          </a>
        </th>
        <th>
          <a href="#" {{action 'sortBy' 'away.name'}}>
            {{sort-indicator
              label="Away"
              value="away.name"
              sortDirection=sortDirection
              sortProperty=sortProperty
            }}
          </a>
        </th>
        {{#if sessionService.isAuthenticated}}
          <th>
            Actions
          </th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each match in sortedItems}}
        <tr>
          <td>
            {{#link-to 'matches.show' match}}{{match.formattedDate}}{{/link-to}}
          </td>
          <td>
            {{#link-to 'teams.show' match.home}}{{match.home.name}}{{/link-to}}
          </td>
          <td>
            {{#link-to 'teams.show' match.away}}{{match.away.name}}{{/link-to}}
          </td>
          {{#if sessionService.isAuthenticated}}
            <td>
              <ul class="button-group">
                <li>{{link-to 'Edit' 'matches.edit' match classNames="tiny button secondary"}}</li>
                {{#if removeAction}}
                  <li>
                    <a href="#" {{action 'remove' match}} class="tiny button alert">Remove</a>
                  </li>
                {{/if}}
              </ul>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  no matches
{{/if}}
