{{#if items.length}}
  <table class="small-12">
    <thead>
      <tr>
        <th>
          {{sort-indicator
            label="Date"
            value="date"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        <th>
          {{sort-indicator
            label="Home"
            value="home.name"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        <th>
          {{sort-indicator
            label="Away"
            value="away.name"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        {{#if sessionService.isAuthenticated}}
          <th>
            Actions
          </th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each match in sortedItems}}
        <tr>
          <td>
            {{link-to match.formattedDate 'matches.show' match}}
          </td>
          <td>
            {{link-to match.home.name 'teams.show' match.home}}
          </td>
          <td>
            {{link-to match.away.name 'teams.show' match.away}}
          </td>
          {{#if sessionService.isAuthenticated}}
            <td>
              <ul class="button-group">
                <li>{{link-to 'Edit' 'matches.edit' match classNames="tiny button secondary"}}</li>
                {{#if removeAction}}
                  <li>
                    <a href="#" {{action 'remove' match}} class="tiny button alert">Remove</a>
                  </li>
                {{/if}}
              </ul>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  no matches
{{/if}}
