{{#if items.length}}
  <table class="small-12">
    <thead>
      <tr>
        <th>
          {{sort-indicator
            label="Number"
            value="number"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        <th>
          {{sort-indicator
            label="Last Name"
            value="lastName"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        <th>
          {{sort-indicator
            label="First Name"
            value="firstName"
            sortDirection=sortDirection
            sortProperty=sortProperty
          }}
        </th>
        {{#if hasTeam}}
          <th>
            {{sort-indicator
              label="Team"
              value="team.name"
              sortDirection=sortDirection
              sortProperty=sortProperty
            }}
          </th>
        {{/if}}
        {{#if sessionService.isAuthenticated}}
          <th>
            Actions
          </th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each player in sortedItems}}
        <tr>
          <td>{{player.number}}</td>
          <td>{{link-to player.lastName 'players.show' player}}</td>
          <td>{{player.firstName}}</td>
          {{#if hasTeam}}
            <td>{{link-to player.team.name 'teams.show' player.team}}</td>
          {{/if}}
          {{#if sessionService.isAuthenticated}}
            <td>
              <ul class="button-group">
                <li>{{link-to 'Edit' 'players.edit' player classNames="tiny button secondary"}}</li>
                {{#if removeAction}}
                  <li>
                    <a href="#" {{action 'remove' player}} class="tiny button alert">Remove</a>
                  </li>
                {{/if}}
              </ul>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  no players
{{/if}}
