<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=name}}
    </label>
  </div>
  <div>
    {{#if logo}}
      <img {{bind-attr src="logo" alt="name"}} />
    {{/if}}
    <label>
      Image
      {{image-upload imageSource=logo}}
    </label>
  </div>
  <div>
    <label>
      Conference
      {{view 'select'
        content=conferences
        value=conference.content
        optionLabelPath="content.name"
        prompt="Select a conference"
      }}
    </label>
  </div>
  <div>
    <label>
      Players
      {{view 'select'
        content=players
        value=player.content
        optionLabelPath="content.name"
        multiple=true
        prompt="Select the players"
      }}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
