<p>
  {{link-to "Team list" "teams.index" }}
</p>

{{#if session.isAuthenticated}}
  <p>
    {{link-to "Edit" "teams.edit" this}}
  </p>
{{/if}}

<h1>
  {{#if logo}}
    <img {{bind-attr src="logo" alt="name"}} />
  {{/if}}
  {{name}}
</h1>

<h2>Players</h2>
{{player-table
  players=players
}}

<h2>Matches</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
  </tr>
  {{#each sortedMatches}}
    <tr>
      <td>
        {{#link-to 'matches.show' this}}{{formattedDate}}{{/link-to}}
      </td>
      <td>
        {{#link-to 'teams.show' home}}{{home.name}}{{/link-to}}
      </td>
      <td>
        {{#link-to 'teams.show' away}}{{away.name}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>
