<div class="row">
  {{#if sessionService.isAuthenticated}}
    <p>
      {{link-to "Edit" "teams.edit" this}}
    </p>
  {{/if}}

  <h1>
    {{#if logo}}
      <img {{bind-attr src="logo" alt="name"}} />
    {{else}}
      <img {{bind-attr src="defaultLogo" alt="name"}} />
    {{/if}}
    {{name}}
  </h1>

  {{#if players}}
    <h2>Players</h2>
    {{player-table items=players}}
  {{/if}}

  {{#if matches}}
    <h2>Matches</h2>
    {{match-table items=matches}}
  {{/if}}
</div>
