<h1>Players list</h1>

{{#if session.isAuthenticated}}
  <p>
    {{link-to "New Player" "players.new" }}
  </p>
{{/if}}

{{#if controller.length}}
  <table>
    <thead>
      <tr>
        <th>
          Last name
        </th>
        <th>
          First name
        </th>
        <th>
          Team
        </th>
        <th>
          Number
        </th>
        {{#if session.isAuthenticated}}
          <th>
            Actions
          </th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each player in controller}}
        <tr>
          <td>
            {{#link-to 'players.show' player}}{{player.lastName}}{{/link-to}}
          </td>
          <td>
            {{player.firstName}}
          </td>
          <td>
            {{#link-to 'teams.show' player.team}}{{player.team.name}}{{/link-to}}
          </td>
          <td>
            {{player.number}}
          </td>
          {{#if session.isAuthenticated}}
            <td>
              {{link-to "Edit" "players.edit" player}}
              <a href="#" {{action "remove" player}}>Remove</a>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Players found
  </p>
{{/if}}
