<div class="row">
  {{#if sessionService.isAuthenticated}}
    <p>
      {{link-to "Edit" "matches.edit" this}}
    </p>
  {{/if}}

  <h1>Match show</h1>

  <p>
    <strong>Date:</strong>
    <span>{{formattedDate}}</span>
  </p>

  <p>
    <strong>Home:</strong>
    <span>{{link-to home.name 'teams.show' home}}</span>
  </p>

  <p>
    <strong>Away:</strong>
    <span>{{link-to away.name 'teams.show' away}}</span>
  </p>

  {{#if plays}}
    {{#each play in plays}}
      {{play.body}}
    {{/each}}
  {{else}}
    {{link-to 'add a play' 'plays.new' this}}
  {{/if}}
</div>
