<header>
  {{#if session.isAuthenticated}}
    <a href="#" {{action 'logout'}}>Logout</a>
  {{else}}
    <a href="#" {{action 'login' 'github'}}>Login</a>
  {{/if}}
</header>

{{liquid-outlet}}

{{liquid-modal}}
